#base {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}
#base > .root {
  width: 390px;
  height: 844px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  position: relative;
}
#base > .root > .text-4 {
  width: 20%;
  height: 8%;
  position: absolute;
  z-index: 2;
}
#base > .root > .text-4 > p {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: #f8f8f8;
}
#base > .root > .fillter {
  width: 30%;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  border-radius: 20%;
  z-index: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
#base > .root > header {
  width: 100%;
  height: 10%;
  background-color: rgba(49, 49, 49, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  bottom: 0;
  z-index: 5;
}
#base > .root > div:nth-child(4) {
  width: 100%;
  height: 100%;
  background-color: #17151d;
  justify-content: center;
  align-items: center;
}
#base > .root > div:nth-child(4) > .top {
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: flex-end;
}
#base > .root > div:nth-child(4) > .top > div {
  width: 10%;
  height: 56%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
#base > .root > div:nth-child(4) > .top > div > div {
  width: 22%;
  height: 10%;
  background-color: #54555f;
  border-radius: 100%;
}
#base > .root > div:nth-child(4) > .center {
  width: 100%;
  height: 54%;
}
#base > .root > div:nth-child(4) > .center > div:nth-child(1) {
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
}
#base > .root > div:nth-child(4) > .center > div:nth-child(1) > div {
  width: 90%;
  height: 80%;
  justify-content: flex-end;
  align-items: center;
}
#base > .root > div:nth-child(4) > .center > div:nth-child(1) > div > .c-1 {
  width: 24%;
  height: 28%;
  background-color: #b84949;
  border-radius: 100%;
  -webkit-animation: 3s circle-1 infinite;
          animation: 3s circle-1 infinite;
  position: absolute;
  bottom: 28%;
}
#base > .root > div:nth-child(4) > .center > div:nth-child(1) > div > .c-2 {
  width: 18%;
  height: 21%;
  background-color: #5e8f4b;
  border-radius: 100%;
  -webkit-animation: 3s circle-2 infinite;
          animation: 3s circle-2 infinite;
  position: absolute;
}
#base > .root > div:nth-child(4) > .center div:nth-child(2) {
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
}
#base > .root > div:nth-child(4) > .center div:nth-child(2) > div {
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
}
#base > .root > div:nth-child(4) > .center div:nth-child(2) > div > p {
  text-align: center;
  color: #a2a3ad;
}
#base > .root > div:nth-child(4) > .bottom {
  width: 100%;
  height: 26%;
  justify-content: center;
  align-items: center;
}
#base > .root > div:nth-child(4) > .bottom > div:nth-child(1) {
  width: 90%;
  height: 20%;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#base > .root > div:nth-child(4) > .bottom > div:nth-child(1) > div:nth-child(1) {
  width: 59%;
  height: 16%;
}
#base > .root > div:nth-child(4) > .bottom > div:nth-child(1) > div:nth-child(1) > hr {
  height: 6px;
  background-color: #9798a3;
  border: 0;
}
#base > .root > div:nth-child(4) > .bottom > div:nth-child(1) > div:nth-child(2) {
  width: 39%;
  height: 16%;
}
#base > .root > div:nth-child(4) > .bottom > div:nth-child(1) > div:nth-child(2) > hr {
  border: none;
  border-top: 6px dashed #43435e;
}
#base > .root > div:nth-child(4) > .bottom > div:nth-child(2) {
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#base > .root > div:nth-child(4) > .bottom > div:nth-child(2) > div:nth-child(1) {
  width: 59%;
  height: 100%;
  background-color: #9798a3;
  border-radius: 10%;
}
#base > .root > div:nth-child(4) > .bottom > div:nth-child(2) > div:nth-child(2) {
  width: 39%;
  height: 100%;
  background-color: #43435e;
  border-radius: 10%;
}/*# sourceMappingURL=20220415_layout.css.map */