@mixin position($justify, $align) {
  justify-content: $justify;
  align-items: $align;
}

// ------------------------------

#base {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  @include position(center, center);

  & > .root {
    width: 390px;
    height: 844px;
    border: 1px solid black;
    @include position(center, center);
    position: relative;

    & > .fillter {
      width: 30%;
      height: 10%;
      background-color: aqua;
      opacity: 0.4;
      position: absolute;
    }

    & > header {
      width: 100%;
      height: 10%;
      background-color: aquamarine;
      opacity: 0.2;
      position: absolute;
      bottom: 0;
      z-index: 5;
    }

    & > div {
      width: 100%;
      height: 100%;
      background-color: #ccc;
      @include position(center, center);

      & > .top {
        width: 100%;
        height: 20%;
        border: 1px solid salmon;
      }
  
      & > .center {
        width: 100%;
        height: 40%;
        border: 1px solid blue;
      }
  
      & > .bottom {
        width: 100%;
        height: 40%;
        border: 1px solid gold;
      }
    }
  }
}