:root {
  --basecolor-1: #fff;
  --basecolor-2: #C4C4C4;
  --basecolor-3: #AFAFAF;
  --basecolor-4: #757575;
  --basecolor-5: #4F4F4F;
  --basecolor-6: #141414;
}

#base > .root > .top {
  display: flex;
  justify-content: center;
  align-items: center;
}
#base > .root > .top > div {
  width: 60%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#base > .root > .top > div > .main-text {
  width: 100%;
  height: 48%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#base > .root > .top > div > .main-text > div {
  font-size: 10.5rem;
  color: var(--basecolor-1);
  font-family: "Saira Stencil One", cursive;
}
#base > .root > .top > div > .shape {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#base > .root > .top > div > .shape > div {
  width: 75%;
  height: 70%;
  background-color: var(--basecolor-6);
  transform: skew(-30deg, 15deg);
  border-radius: 40% 50% 25% 30%;
}
#base > .root > .top > div > .shape > div:nth-child(1) {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 15%;
  opacity: 0.8;
}
#base > .root > .top > div > .shape > div:nth-child(2) {
  position: absolute;
  bottom: 10%;
  right: 5%;
  opacity: 0.7;
  filter: blur(20px);
}
#base > .root > .bottom > div {
  height: 100%;
}
#base > .root > .bottom > div:nth-child(1) {
  width: 10%;
  background-color: var(--basecolor-2);
  display: flex;
  justify-content: center;
  align-items: center;
}
#base > .root > .bottom > div:nth-child(1) > div {
  width: 64%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#base > .root > .bottom > div:nth-child(1) > div > .squares {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#base > .root > .bottom > div:nth-child(2) {
  width: 25%;
  background-color: var(--basecolor-3);
  display: flex;
  justify-content: center;
  align-items: center;
}
#base > .root > .bottom > div:nth-child(2) > div {
  width: 92%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#base > .root > .bottom > div:nth-child(2) > div > div {
  width: 100%;
  height: 30%;
  text-align: justify;
}
#base > .root > .bottom > div:nth-child(3) {
  width: 30%;
  background-color: var(--basecolor-4);
  display: flex;
  justify-content: center;
  align-items: center;
}
#base > .root > .bottom > div:nth-child(3) > div {
  width: 84%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#base > .root > .bottom > div:nth-child(3) > div > div {
  width: 100%;
  height: 36%;
  text-align: justify;
  color: var(--basecolor-1);
}
#base > .root > .bottom > div:nth-child(4) {
  width: 35%;
  background-color: var(--basecolor-5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#base > .root > .bottom > div:nth-child(4) > div {
  width: 78%;
  height: 30%;
  text-align: justify;
  color: var(--basecolor-1);
}/*# sourceMappingURL=20220504-layout-training-32.css.map */