@mixin position($justify, $align) {
  justify-content: $justify;
  align-items: $align;
}

#base {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  @include position(center, center);

  & > .root {
    width: 1000px;
    height: 1000px;
    @include position(center, center);
    flex-direction: column;

    & > .top {
      width: 100%;
      height: 50%;
      // border: 1px solid red;
      @include position(center, center);
      position: relative;

      & > div:nth-child(1) {
        width: 50%;
        height: 100%;
        background-color: #00ffff;
        position: absolute;
        opacity: 0.4;

        z-index: 4;
        left: 8%;
        animation: 3s fade-in-1 infinite;
      }

      & > div:nth-child(2) {
        width: 50%;
        height: 100%;
        background-color: #00ffbf;
        position: absolute;
        opacity: 0.4;

        z-index: 3;

        right: 15%;
        top: 30%;
        animation: 3s fade-in-2 infinite;
      }
    }

    & > .bottom {
      width: 100%;
      height: 50%;
      // border: 1px solid blue;
      @include position(center, center);
      position: relative;

      & > div:nth-child(1) {
        width: 50%;
        height: 100%;
        background-color: #7fffd4;
        position: absolute;
        opacity: 0.4;

        z-index: 2;
        animation: 3s fade-in-3 infinite;
      }

      & > div:nth-child(2) {
        width: 50%;
        height: 100%;
        background-color: #7fc1ff;
        position: absolute;
        opacity: 0.4;

        z-index: 1;

        left: 0;
        bottom: 30%;
        animation: 3s fade-in-4 infinite;

      }
    }
  }
}