
* {margin: 0; padding: 0;}

#base {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & > .root {
    width: 800px;
    height: 780px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    & > .right {
      width: 60%;
      height: 100%;
      position: absolute;
      bottom: 5%;
      box-shadow: 10px 10px 30px #92ffe7;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & > div:nth-child(1) {
        width: 100%;
        height: 50%;
        background-color: #a672fa;
        border: 3px solid #161616;
        display: flex;
        justify-content: center;
        align-items: center;

        & > div {
          width: 90%;
          height: 50%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          flex-direction: column;

          & > p {
            font-size: 4rem;
            font-weight: bold;
            font-style: italic;
            color: #eeeeee;
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-color: #7c5281;
            text-decoration-thickness: 2px;
          }
        }
      }

      & > div:nth-child(2) {
        width: 90%;
        height: 6%;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & > .good {
          width: 54%;
          height: 100%;
          border: 3px solid #161616;
          border-radius: 30px;
          background-color: #eeff52;display: flex;
          justify-content: center;
          align-items: flex-start;

          & > div {
            font-size: 2rem;
            font-weight: bold;
            color: #0bb351;
          }
        }
      }

      & > div:nth-child(3) {
        width: 100%;
        height: 50%;
        background-color: #52ffda;
        border: 3px solid #e03737;
        border-top: none;
        display: flex;
        justify-content: center;
        align-items: center;

        & > div {
          width: 88%;
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          & > div {
            width: 100%;
            height: 95%;
            font-weight: bold;
            font-style: italic;
            color: #0c5747;
            font-size: 0.875rem;
          }
        }
      }
    }

    & > .left {
      width: 60%;
      height: 100%;
      position: relative;
      background-color: #c5c5c5;
      left: 40%;
      top: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;


      & > .blur {
        width: 100%;
        height: 100%;
        background-color: rgba(243, 243, 243, 0.4);
        position: absolute;
        backdrop-filter: blur(1px);
      }

      & > div:nth-child(2) {
        width: 80%;
        height: 45%;
        display: flex;
        justify-content: center;
        align-items: center;

        & > div {
          width: 100%;
          height: 76%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;

          & > p {
            font-size: 5.7rem;
            color: #383838;
          }
        }
      }

      & > div:nth-child(3) {
        width: 95%;
        height: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        & > div {
          width: 40%;
          height: 50%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          color: #383838;

        }
      }

      & > div:nth-child(4) {
        width: 95%;
        height: 45%;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        & > div {
          width: 100%;
          height: 86%;
          text-align: justify;
          color: #383838;

        }
      }
    }
    }
    }
  
